{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKIFY.</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body class="overlay">

<main class="main-content delete-profile-page">

    <div class="delete-profile-form-wrapper">
        <div class="img-form-wrapper">
            <img class="img-delete-profile"
                 src="{% static 'assets/img/funny-cute-owl-sad-crying-howl-mug-removebg-preview.png' %}">
            <form class="delete-profile-form" method="post"
                  action="{% url 'delete_user_profile' request.user.pk %}">
                {% csrf_token %}
                <h2>We aro so sad to see you go...</h2>
                <h3>Are you sure you want to delete your profile?</h3>
                <div class="task-buttons">
                    <button type="submit" class="delete-task-button">Delete</button>
                    <a type="submit" href="{% url 'details_user_profile' request.user.pk %}" class="go-back-button">Go
                        Back</a>
                </div>
            </form>
        </div>
    </div>

</main>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- External js files -->
<script src={% static 'assets/js/side-bar-toggle.js' %}></script>
<script src={% static 'assets/js/datetime.js' %}></script>

</body>
</html>