{% extends 'base.html' %}
{% block content %}
    <div class="profile-details content-pos">
        <h2>{{ user_profile.user }}'s Profile</h2>
        {{ user_profile.profile_picture }}
        <p><b>First Name:</b> {{ user_profile.first_name }}</p>
        <p><b>Last Name:</b> {{ user_profile.last_name }}</p>
        <p><b>Age:</b> {{ user_profile.age }}</p>
        <p><b>Email:</b> {{ user_profile.email }}</p>

        <div class="task-buttons">
            <button class="mt mb"><a href="{% url 'edit_user_profile' pk=request.user.pk %}"
                                     class="edit-profile-button">Edit Profile</a></button>
            <button class="mt mb"><a href='{% url 'delete_user_profile' pk=request.user.pk %}'>Delete Profile</a></button>
        </div>

    </div>
{% endblock %}
