{% extends 'base.html' %}
{% block content %}
    <div class="edit_profile_form_wrapper">
        <div class="edit-profile-form-container">
            <h1>Edit Profile</h1>
            <form
                    action="{% url 'edit_user_profile' pk=request.user.pk %}"
                    method="post">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.name == 'profile_picture' %}
                        {{ field.label }} <br>
                        {{ field }}
                    {% else %}
                        <p>{{ field }} </p>
                    {% endif %}
                {% endfor %}
                <div class="profile-buttons">
                    <button type="submit" class="edit-profile-button">Save</button>
                    <a href="{% url 'details_user_profile' pk=request.user.pk %}" class="go-back-button">Go Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}