{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKIFY.</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body class="overlay">

<section id="container">
    <header class="header black-bg">
        <div>
            {% if request.user.is_authenticated %}
                <div id="sidebar-toggle-box" class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="right"
                         data-original-title="Toggle Navigation"></div>
                </div>
            {% endif %}
            <a href="{% url 'index' %}" class="logo"><b>TASKIFY.</b></a>
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                {% if not request.user.is_authenticated %}
                    <div class="about"><a class="about-link" href="{% url 'about' %}">About</a></div>
                {% elif request.user.is_superuser or request.user.is_staff %}
                    <div class="admin-site">
                        <a class="admin-link" href="{% url 'admin:index' %}" target="_blank">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Admin Site
                        </a>
                    </div>
                {% endif %}
                <div id="datetime" class="datetime"></div>
            </ul>
        </div>
    </header>
    <!--header end-->

    {% if request.user.is_authenticated %}
        <!--sidebar start-->
        <aside id="sidebar">
            <div class="nav-collapse">
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="{% url 'details_user_profile' pk=request.user.pk %}"><img
                            src="
                            {% if request.user.user_profile.profile_picture %}
{{ request.user.user_profile.profile_picture.url }}
{% else %}
{% static 'assets/img/ui-sam.jpg' %}
{% endif %}
"
                            class="img-circle"
                            width="60"></a></p>
                    <h5 class="centered">{{ request.user.userprofile }}</h5>

                    <li class="mt">
                        <a href="{% url 'dashboard' %}">
                            <i class="fa fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="{% url 'task_calendar' %}">
                            <i class="fa fa-desktop"></i>
                            <span>Task Calendar</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="{% url 'details_user_profile' pk=request.user.pk %}">
                            <i class="fa fa-user"></i>
                            <span>Profile</span>
                        </a>

                    </li>

                    <li class="sub-menu">
                        <a href="{% url 'about' %}">
                            <i class="fa fa-address-card"></i>
                            <span>About</span>
                        </a>

                    </li>

                    <li class="sub-menu">
                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>

                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    {% endif %}
</section>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

{% if request.user.is_authenticated %}
    <footer class="site-footer">
        <div class="text-center">
            <p>&copy; 2023 - TASKIFY. All rights reserved.</p>
        </div>
    </footer>
{% endif %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- External js files -->
<script src={% static 'assets/js/side-bar-toggle.js' %}></script>
<script src={% static 'assets/js/datetime.js' %}></script>

</body>
</html>