{% extends 'base.html' %}
{% block content %}

    <div class="todo-container content-pos">
        <h2>TO-DO LIST</h2>
        <form method="get" class="search-by-name">
            <input type="text" name="search-area" placeholder="Task Title">
            <input type="submit" value="Search" class="search-button">
        </form>

        <form method="get" class="sort-by-category">
            <select name="category">
                <option value="">Sort by Category</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search" class="search-button">
        </form>

        <form method="get" class="sort-by-status">
            <select name="status">
                <option value="">Sort by Status</option>
                {% for status in statuses %}
                    <option value="{{ status.status }}">{{ status.status }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search" class="search-button">
        </form>

        <ul class="todo-list">
            <div class="add-task-dash-btn"><a class="add-task-button" href="{% url 'add_task' %}">Add New Task</a></div>

            {% for task in tasks %}
                <li>
                    <div class="task-item">
                        <div class="checkbox-title">
                            <div class="checkbox-container">
                                <input type="checkbox" id="checkbox-{{ task.id }}" class="checkbox">
                                <label for="checkbox-{{ task.id }}" class="checkbox-label"></label>
                            </div>
                            <span class="task-title">{{ task.title }}</span>
                        </div>
                        <span class="task-due-date">Due Date:
                            {% if task.due_date %}
                                {{ task.due_date }}
                            {% else %}
                                No due date
                            {% endif %}
                        </span>
                        <div class="task-buttons-details">
                            {% if not task.reminder %}
                                <a href="{% url 'add_reminder' task.pk %}" class="add-reminder-button">Set a
                                    reminder</a>
                            {% else %}
                                <a href="" class="reminder-active">{{ task.reminder }}</a>

                            {% endif %}
                            <a href="{% url 'details_task' task.pk %}" class="details-task-button">Details</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <h3>No Tasks. Enjoy some free time!</h3>
            {% endfor %}
        </ul>
    </div>
{% endblock %}